{% load dajaxice_templatetags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CodeBro &raquo; {% block title %}Index{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pygments.css" rel="stylesheet">    
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
    {% dajaxice_js_import %}
    
    <!-- header panel -->
    {% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

	  <a class="brand" href="/">CodeBro!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url browser.views.index %}">Home</a></li>
              <li><a href="{% url browser.views.list %}">List Projects</a></li>
	      <li><a href="{% url browser.views.project_new %}">Add a Project</a></li>
              <li><a href="{% url about %}">About</a></li>
            </ul>

	    {% if project %}
	    <form class="navbar-form pull-right" action="{% url browser.views.project_search project.id%}" method="POST">
	      <input type="text" name="pattern" class="input-medium search-query" placeholder="Search in {{project.name}}"/>
              <button type="submit" class="btn">Go</button>
	      {% csrf_token %}
            </form>

	    {% else %}

	    <form class="navbar-form pull-right" action="{% url browser.views.search %}" method="POST">
	      <input type="text" name="pattern" class="input-medium search-query" placeholder="Search"/>
              <button type="submit" class="btn">Go</button>
	      {% csrf_token %}
            </form>
	    {% endif %}
	    
	  </div>
	  
	</div>
      </div>
    </div>

    {% endblock %}
    <!-- end of header -->

    <br>
    
    <!-- display messages -->
      <div class="row">
	<div class="span3">
	</div>
	<div class="span8">
	  {% if messages %}      
	  {% for message in messages %}
	  <div class="alert alert-{{ message.tags }}">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    {{ message }}
	  </div>
	  {% endfor %}
	  {% endif %}    
	</div>
      </div>

    <!-- end of messages -->
    
    <!-- body  -->
    <div class="container">

      {% block content %}
      {% endblock %}

      <br/>
      <br/>

      <footer class="pull-right">
	<small>Powered by CodeBro!, <em>@_hugsy_</em> </small>
      </footer>

    </div>
    <!-- end of body -->
    
  </body>
</html>
