{% extends "base.html" %}

{% block title %}Detail for {{ project.name }} {% endblock %}

{% block content %}


<script type="text/javascript">
  function dajax_error_callback(){
  bootbox.alert('Oops ... Something went wrong !');
  }

  function disable(tag){
  $('#btn_'+tag)[0].disabled = 'Disabled';
  $('#btn_'+tag)[0].value = 'Parsing... Please Wait...';  
  }
  
  function dajax_init(tag, func, pid){
  disable(tag);
  func(dajax_callback, {'project_id': pid});

  setTimeout(function(){bootbox.alert('Pretty long, isnt it ? And still not finished ... ');}, 10000);
  setTimeout(function(){bootbox.alert('Yeah, I know, go grab some coffee while I\'m on it ... ');}, 60000);
  }
  
  function dajax_callback(data) {
  bootbox.alert(data.message);
  if(data.status != 0) {
   $('#btn_parse')[0].removeAttribute('disabled');
   $('#btn_parse')[0].value = 'Retry';
  } else {
   setTimeout(function(){location.reload();},3000);
  }
  }


</script>


<div class="row">
    <div class="span12">
      <h3>{{ project.name }}</h3>

      <div class="accordion" id="accordion2">

	<!-- Description sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#description">
	      Description
	    </a>
	  </div>
	  <div id="description" class="accordion-body collapse">
	    <div class="accordion-inner">
	      <p>Language : {{ project.language }}</p>
	      <p>Added: {{ project.added_date }} </p>
	      <p>Description: {{ project.description }}</p>
	      <p>Source code path: <em>{{project.code_path}}</em></p>
	    </div>
	  </div>
	</div>
	<!-- End of description -->
	
	<!-- Analysis sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#analysis">
              Analysis
	    </a>
	  </div>
	  <div id="analysis" class="accordion-body collapse">
	    <div class="accordion-inner">
	      
	      <p>Parsed ?
	      {% if project.file_number != 0  %}
		<i class="icon-ok"></i></p>
              <ul>
		<li><em>{{ project.file_number}}</em> {{project.language.name}} files parsed </li>
		<li><em>{{ project.function_definition_number }}</em> functions declared
	      </ul>
	      {% else %}
	      <i class="icon-remove"></i></p>&nbsp;

		<input id="btn_parse"
		       type="button"
		       class="btn btn-mini btn-primary"
		       onclick="dajax_init('parse', Dajaxice.browser.ajax_project_parse, {{project.id}});" --
		       value="Do it now!">

	      {% endif %}

	      <br>
	      
	      <p>XRef-ed ?
	      {% if project.xref_number != 0  %}
	      <i class="icon-ok"></i></p>
	      <ul>
		<li><em>{{ project.xref_number}}</em> Xrefs created
	      </ul>

	      
	      <form method="POST" action="{% url browser.views.project_draw project.id%}" target="_blank">
		{% csrf_token %}
	      <div class="control-group">
	 	<label class="control-label" for="inputIcon">Draw callgraph:</label>
		<div class="controls">
		  <div class="input-prepend">
		    <select name="xref">
		      <option value="0">XRef From</option>
		      <option value="1">XRef To</option>
		    </select>

		    <span class="add-on"><i class="icon-search"></i></span>
		    <input class="span2" id="inputIcon" type="text"
			   name="function"
			   placeholder="Start typing function name" 
			   onkeypress="if (this.value.length >= 2) {
				       Dajaxice.browser.update_files(Dajax.process,
				       {'value':this.value, 'project_id':{{project.id}}},
				       {'error_callback': dajax_error_callback});
				       }">

		    <select id="function_files" name="file" onchange="" size="1">
		      <option value="">---Start type a function name---</option>
		    </select>


		    <input type="submit" class="btn" value="Draw Callgraph">
		    
		  </div>
		</div>
	      </div>
	      </form>
	      
	      {% else %}
	      <i class="icon-remove"></i></p>&nbsp;
		<input id="btn_xref"
		       type="button"
		       class="btn btn-mini btn-primary"
		       onclick="dajax_init('xref', Dajaxice.browser.ajax_project_xref, {{project.id}});"
		       value="Do it now!">

	      {% endif %}

	    </div>
	  </div>
	</div>
	<!-- End of analysis -->

	<!-- Description sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse"
	      data-parent="#accordion2" href="#explore"> 
	      Explore 
	    </a>
	  </div>	  
	  <div id="explore" class="accordion-body collapse in">
	    <div class="accordion-inner">
	      <div id="explorer">
		<p> <i class="icon-circle-arrow-right"></i> {{ path }} </p>

{% if is_dir %}
<pre class="prettyprint linenums"><ol>{% for line in lines %}<li><a href="?file={{ path }}/{{ line }}">{{ line }}</a></li>{% endfor %}</ol></pre>
{% else %}
{% autoescape off %}		
{% for line in lines %}{{ line }}
{% endfor %}
{% endautoescape %}
{% endif %}

	      </div>
	    </div>
	  </div>
	</div>
	<!-- End of description -->
	
      </div>
    </div>
</div>

{% endblock content %}
