{% extends "base.html" %}

{% block title %}Detail for {{ project.name }} {% endblock %}

{% block content %}


<script type="text/javascript">

  function disable(tag){
  $('#btn_'+tag)[0].disabled = 'Disabled';
  $('#btn_'+tag)[0].value = 'Please Wait...';  
  }
  
  function dajax_init(tag, func, pid){
  disable(tag);
  func(dajax_callback, {'project_id': pid});

  //setTimeout(function(){bootbox.alert('Yeah, I know, go grab some coffee while I\'m on it ... ');}, 60000);
  }
  
  function dajax_callback(data) {
  bootbox.alert(data.message);
  if(data.status != 0) {
   $('#btn_parse')[0].removeAttribute('disabled');
   $('#btn_parse')[0].value = 'Retry';
  } else {
   setTimeout(function(){location.reload();},3000);
  }
  }
</script>


<div class="row">
  <div class="span12">
      <h3>{{ project.name }}</h3>

      <div class="accordion" id="accordion2">

	<!-- Description sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#description">
	      Description
	    </a>
	  </div>
	  <div id="description" class="accordion-body collapse">
	    <div class="accordion-inner">
	      <p>Language : {{ project.language }}</p>
	      <p>Added: {{ project.added_date }} </p>
	      <p>Description: {{ project.description }}</p>
	      <p>Source code path: <em>{{project.code_path}}</em></p>
	      <p>[<a href="{% url 'browser.views.project_edit' project.id%}">Edit</a>]</p>
	      <p>[<a href="{% url 'browser.views.project_delete' project.id%}">Delete</a>]</p>
	    </div>
	  </div>
	</div>
	<!-- End of description -->
	
	<!-- Analysis sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#analysis">
              Analysis
	    </a>
	  </div>
	  <div id="analysis" class="accordion-body collapse">
	    <div class="accordion-inner">
	      
	      <p>
	      {% if project.is_parsed %}
	      <i class="icon-ok"></i> Parsed	      
	      <br/>		
	      [<a href="{% url 'browser.views.project_analysis' project.id %}">Analysis module</a>]
	      <br/>

	      <input id="btn_parse"
		     type="button"
		     class="btn btn-mini btn-primary"
		     onclick="dajax_init('unparse', Dajaxice.browser.ajax_project_unparse, {{project.id}});" 
		     value="Delete">
	      
	      {% elif project.xref_set.count != 0 and project.file_set.count != 0 %}	      
	      <i class="icon-remove"></i> Not Parsed
	      <input id="btn_parse"
		     type="button"
		     class="btn btn-mini btn-primary"
		     onclick="#"
		     disabled="disabled"
		     value="Being Parsed!">
	      
	      {% else %}
	      <i class="icon-remove"></i> Not Parsed
	      <input id="btn_parse"
		     type="button"
		     class="btn btn-mini btn-primary"
		     onclick="dajax_init('parse', Dajaxice.browser.ajax_project_parse, {{project.id}});" 
		     value="Parse now!">
	      {% endif %}
	      </p>
	      
	    </div>
	  </div>
	</div>
	<!-- End of analysis -->

	<!-- Description sub-block -->
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse"
	      data-parent="#accordion2" href="#explore"> 
	      Explore 
	    </a>
	  </div>	  
	  <div id="explore" class="accordion-body collapse in">
	    <div class="accordion-inner">
	      <div id="explorer">
		
{% include "project/file_browser.html"%}

	      </div>
	    </div>
	  </div>
	</div>
	<!-- End of description -->
	
      </div>
    </div>
</div>

{% endblock content %}
